<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
    input[type="text"], textarea[name="deliverable"], input[type="file"]
    {
        background-color: #ECECEC;
        border-style: solid;
        border-width: 0.5px;
    }

    </style>
    {% block javascript %} {% endblock %}

</head>

<body>

<div class="container" style="margin-top: 35px;border: solid 1px">

<div class="row" >
    <div class="col-md-12" style="height:680px;padding-right:0px;">
        <div class="col-md-8" style="margin-top: 35px;">
            {% block container %} {% endblock %}
        </div>
        <div class="col-md-2" style="margin-top:55px;padding-left:0px;margin-left:0px;">
            {% if logo %}
            <div style="text-align:center;">
                    <img src="data:image/jpeg;charset=utf-8;base64,{{logo}}" alt="Logo"
                         style="width:150px;height:100px;">
                    <span style="font-size:15px">{{business_title}}</span><br><br><br>
            </div>
            {% endif %}
            <div style="text-align:left;">
                    {% if dated %}
                        <b>Dated:</b> {{dated}}
                    {% endif %}
                    <br>
                    {% for data in provider_details %}
                        {% if data %}
                            <br>{{data}}
                        {% endif %}
                    {% endfor %}
                    {% if provider_website %}
                    <br><a>{{provider_website}}</a>
                    {% endif %}
                    {% if provider_email %}
                    <br><a>{{provider_email}}</a>
                    {% endif %}

        </div>
        </div>
        <div class="col-md-2" style="background:#474747;height:100%;text-align:left;">
            <div style="padding-top:30px;padding-left:5px">
                <h2 style="color:#4384E0;">Contract</h2>
                <br>
                <a style="color:#7E7E7E" href="/"><h5>Home</h5></a>
                <a style="color:#7E7E7E" href="/load-pdf"><h5>Load Pdf</h5></a>
                <a style="color:#7E7E7E" href="/provider-contact"><h5>Provider Contact Info</h5></a>
                <a style="color:#7E7E7E" href="/email-settings"><h5>Email Settings</h5></a>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div style="color:white;">
                Software Suit Ⓒ 2017
                <a style="color:white" href="http://www.whatever.com">www.whatever.com</a>

            </div>
            <br>
            <div style="text-align:center;color:white;">
                <a class="btn btn-warning" style="background:#6C6C6C;" href="{% url 'logout' %}" type="button">Logout</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>