{% extends "base.html" %}
{% block container %}
<div class="row">
    <h1 style="color:#4384E0;">Contact</h1>
</div>
<form method="POST" action="email-settings">
    {% csrf_token %}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="from_email">FROM EMAIL</label>
            <input name="from_email" type="email" class="form-control" id="from_email"  value="{{from_email}}" required>
        </div>
        <div class="form-group">
            <label for="email_host">EMAIL HOST</label>
            <input name="email_host" type="text" class="form-control" id="email_host" value="{{email_host}}"  required>
        </div>
        <div class="form-group">
            <label for="email_port">EMAIL PORT</label>
            <input name="email_port" type="text" class="form-control" id="email_port" value="{{email_port}}" required>
        </div>
        <div class="form-group">
            <label for="email_host_user">EMAIL HOST USER</label>
            <input name="email_host_user" type="text" class="form-control" id="email_host_user" value="{{email_host_user}}"  required>
        </div>
        <div class="form-group">
            <label for="email_host_password">EMAIL HOST PASSWORD</label>
            <input name="email_host_password" type="password" class="form-control" value="{{email_host_password}}"  id="email_host_password">
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="to_email">TO EMAIL </label>
            <input name="to_email" type="email" class="form-control" value="{{to_email}}"  id="to_email">
        </div>

    </div>
</div>
<button class="btn btn-primary" type="submit" >Save Email Details</button>
</form>
{% endblock %}