{% extends "base.html" %}
{% block container %}
<form id="formID" action="/create_pdf" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="row">
    <input type="hidden" name="send_email" id="hiddenID">
    <div class="col-md-6">
        <div class="form-group">
            <label for="document_name">DOCUMENT NAME</label>
            <input name="document_name" type="text" class="form-control" id="document_name" value="{{document_name|default:''}}" required >
        </div>
        <div class="form-group">
            <label for="client_name">CLIENT NAME</label>
            <input name="client_name" type="text" class="form-control" id="client_name" value="{{client_name|default:''}}"  required>
        </div>
        <div class="form-group">
            <label for="client_address">CLIENT ADDRESS</label>
            <input name="client_address" type="text" class="form-control" id="client_address" value="{{client_address|default:''}}"  required>
        </div>
        <div class="form-group">
            <label for="client_phone">CLIENT PHONE</label>
            <input name="client_phone" type="text" class="form-control" id="client_phone" value="{{client_phone|default:''}}"  required>
        </div>
        <div class="form-group">
            <label for="client_email">CLIENT EMAIL</label>
            <input name="client_email" type="text" class="form-control" id="client_email" value="{{client_email|default:''}}"  required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="terms_of_service">TERMS OF SERVICE -T.O.S (I agree checkbox)</label>
            <input name="terms_of_service" type="text" class="form-control" id="terms_of_service"  value="{{terms_of_service|default:''}}"  required>
        </div>
        <div class="form-group">
            <label for="page_two">PAGE TWO</label>
            <input name="page_two" type="file" class="form-control" id="page_two" >
        </div>
        <div class="form-group">
            <label for="page_three">PAGE THREE</label>
            <input name="page_three" type="file" class="form-control" id="page_three" >
        </div>
        <div class="form-group">
            <label for="page_four">PAGE FOUR</label>
            <input name="page_four" type="file" class="form-control" id="page_four" >
        </div>

        <div class="form-group">
            <label for="payment_url">PAYMENT URL-A 1/2 Down payment is required</label>
            <input name="payment_url" type="text" class="form-control" id="payment_url"  value="{{payment_url|default:''}}"  required>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label for="deliverable">DELIVERABLES</label>
        <textarea rows="8" name="deliverable" class="form-control" id="deliverable" required>{{deliverable|default:''}}</textarea>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-7">
        <div class="form-group form-inline">
            <div class="form-group">
                <label>* ESTIMATED COST</label>
                <input type="text" name="estimated_cost"  value="{{estimated_cost|default:''}}" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="input-group-btn">
            <button class="btn btn-success" id="saveView" type="submit">Save/View PDF</button>
            <button class="btn btn-primary" id="sendPdf" type="button" style="margin-left: 15px;">Send PDF</button>
        </div>
    </div>
</div>
</form>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Email Notification </h4>
        </div>
        <div class="modal-body">
          <p id="modalBody"></p>
        </div>
        <div class="modal-footer">
          <button id="modalID" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $("#sendPdf").click(function(){
            $('#hiddenID').val("True");
            $("#formID").submit();
    });
    {% if sent_mail %}
        $('#modalBody').append("Email Sent successfully")
        $('#myModal').modal('show');
    {% elif not_sent_mail %}
        $('#modalBody').append("Email Not Sent successfully. Error - {{msg}}");
        $('#myModal').modal('show');
    {% endif %}
});
</script>
{% endblock %}