{% extends "base.html" %}
{% block container %}
<div class="row">
    <div class="col-md-12">
    <h1 style="color:#4384E0;">Load Pdf</h1>
    <h5 style="padding-top:0px">Click on pdf file to view</h5>

<!--<form method="POST" action="load-pdf" enctype = "multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--<div class="row">-->
<!--    <div class="col-md-6">-->
<!--        <div class="form-group">-->
<!--            <label for="logo"></label>-->
<!--            <input type="file" name="pdf_file" class="form-control" id="logo" required>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
<!--<button class="btn btn-primary" type="submit" >Load pdf</button>-->
<!--</form>-->

<table class="table" style="margin-top:30px">
    {% if file_list %}
    <thead>
    <tr>
        <th scope="col">Files</th>
        <th scope="col">Delete</th>
    </thead>
    {% endif %}
    <tbody>
    {% if file_list %}
        {% for file in file_list %}
         <tr>
         <td><a href="{% url 'select_pdf_file' %}?filename={{file}}">{{file}}</a></td>
         <td><a href="{% url 'delete_pdf_file' %}?filename={{file}}" class="btn btn-warning">Delete</a></td>
         </tr>
        {% endfor %}
    {% else %}
     <tr>
         <td class="text-danger"><h3>No PDF file found</h3></td>
     </tr>
    {% endif %}
    </tbody>
</table>
</div>
</div>

{% endblock %}
{% block javascript %}
<script>
{% if messages %}
    {% for message in messages %}
    alert("{{message|safe}}");
    {% endfor %}
{% endif %}

</script>
{% endblock %}