<html>
<head>
    <title>PDF generator</title>

    {% block javascript %} {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
    body {
    font-family: 'Lato', sans-serif;
  }
    .container{
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 10px;
        width: 22cm;
        height: 30cm;
        }
    .hidden {
            display: none;
     }

    .right {
    text-align: right;
    margin-right: 1em;
    }

    .left {
    text-align: left;
    margin-left: 1em;
    }
    table {
        border-collapse: collapse;
    }

    .bottom-aligner {
       position: relative;
            bottom: 0;
    }



    </style>

</head>

<body>

{% if page_data %}
<div class="container">
    <table style="width:100%;margin-top:30px;">
        <tr>
            <td align="right"></td>
            <td></td><td></td>
            <td align="right">
                <p>
                    Page {{page_number}} of {{total_page}}<br>
                    {{dated}}
                </p>
            </td>
        </tr>
    </table>
    <br><br>
    <p style="white-space: pre-wrap; text-align: justify;margin-left:0px;padding-left:0px;">{{page_data|safe}}</p>
</div>
{% endif %}


</body>
</html>
