<html>
<head>
    <title>PDF generator</title>

    {% block javascript %} {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
    body {
    font-family: 'Lato', sans-serif;
  }
    .container{
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 10px;
        width: 22cm;
        height: 30cm;
        }
    .hidden {
            display: none;
     }

    .right {
    text-align: right;
    margin-right: 1em;
    }

    .left {
    text-align: left;
    margin-left: 1em;
    }
    table {
        border-collapse: collapse;
    }

    .bottom-aligner {
       position: relative;
            bottom: 0;
    }



    </style>

</head>

<body>

<div class="container">
    <table style="width:100%">
        <tr>
            <td align="left">
                <div style="text-align:left;">
                    <img src="data:image/jpeg;charset=utf-8;base64,{{logo}}" alt="Logo"
                         style="width:250px;height:100px;">
                    <br>
                    <br>
                    <span style="font-size:25px">{{business_title}}</span>
                </div>
            </td>
            <td>
                <div style="text-align:left;">
                    <br>
                    {% for data in provider_details %}
                        {% if data %}
                        <br>{{data}}
                        {% endif %}
                    {% endfor %}
                    {% if provider_website %}
                    <br><a>{{provider_website}}</a>
                    {% endif %}
                    {% if provider_email %}
                    <br><a>{{provider_email}}</a>
                    {% endif %}
                </div>
            </td>
            <td>
            </td>
            <td align="right">
                <p>
                    Page 1 of {{total_page}}<br>
                    <br>
                    Service Contract<br>
                    <br>
                    {{dated}}<br>
                </p>
            </td>
        </tr>


    </table>
    <br>
    <br>
    <br>
    <p>
        <span style="font-size:20px">{{document_name}}</span>
        <br>
        <span>{{client_name}}</span>
    </p>
    <br>
    <p style="height:500px">
        <span style="font-size:17px;font-weight: bold;">Deliverables:</span>
        <span>{{deliverable}}</span>
    </p>
    <u>Estimated Cost: </u> &nbsp; {{estimated_cost}}
    <br>Note: Payments will be made here - <a>{{payment_url}}</a>
    <br>Terms Of Service: <a>{{terms_of_service}}</a>
    <br>
    <br>
    <br>
    <input type="checkbox"> &nbsp; &nbsp; &nbsp;I/We agree to the Url-Terms
    <br><span style="font-size:14px">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<i>* Signed Client has read and agrees</i></span>
    <br>
    <br>
    <br>
    <br>
    <span style="font-size:20px"><b>Client Information:</b></span>
    <br>
    <div style="height:150px">
        <table align="left">
            <tr>
                <td style="padding-top:10px">Business Name:</td>
                <td style="padding-left: 15px;padding-top:10px">{{b_name}}</td>
                <td style="padding-left: 15px;padding-top:10px">POC:</td>
                <td style="padding-left: 15px;padding-top:10px">{{poc}}</td>
            </tr>
            <tr>
                <td style="padding-top:10px">Address:</td>
                <td style="padding-left: 15px;padding-top:10px">{{client_address}}</td>
                <td style="padding-left: 15px;padding-top:10px">Phone:</td>
                <td style="padding-left: 15px;padding-top:10px">{{client_phone}}</td>
            </tr>
            <tr>
                <td style="padding-top:10px">E-mail:</td>
                <td style="padding-left: 15px;padding-top:10px">{{client_email}}</td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <br>
    <div class="bottom-aligner">
        <table align="left" style="width:100%; font-style: italic;">
            <tr>
                <td>______________________ Date</td>
                <td>_________________________</td>
                <td>____________________ Date</td>
            </tr>
            <tr>
                <td>Authorizing Agent - Owner</td>
                <td>Person Liable (print)</td>
                <td>Provider</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
