{% extends "base.html" %}
{% block container %}
<div class="row">
    <h1 style="color:#4384E0;">Provider Info</h1>
</div>
<form method="POST" action="provider-contact" enctype = "multipart/form-data">
    {% csrf_token %}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="logo">LOGO</label>
            <input type="file" name="logo" class="form-control" id="logo" required>
        </div>

        <div class="form-group">
            <label for="business_title">BUSINESS TITLE</label>
            <input value="{{business_title}}" name="business_title" type="text" class="form-control" id="business_title" required>
        </div>
        <div class="form-group">
            <label for="dated">DATED</label>
            <input value="{{dated}}" name="dated" type="text" class="form-control" id="dated" required>
        </div>
        <div class="form-group">
            <label for="provider_name">PROVIDER NAME</label>
            {% if provider_details %}
            <input value="{{provider_details.0}}"  name="provider_name" type="text" class="form-control" id="provider_name" required>
            {% else%}
            <input name="provider_name" type="text" class="form-control" id="provider_name" required>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="provider_phone">PROVIDER PHONE</label>
            {% if provider_details %}
            <input value="{{provider_details.4}}" name="provider_phone" type="text" class="form-control" id="provider_phone" required>
            {% else%}
            <input name="provider_phone" type="text" class="form-control" id="provider_phone" required>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="provider_website">PROVIDER WEBSITE</label>
            <input value="{{provider_website}}" name="provider_website" type="text" class="form-control" id="provider_website">
        </div>
        <div class="form-group">
            <label for="provider_email">PROVIDER EMAIL</label>
            <input value="{{provider_email}}" name="provider_email" type="text" class="form-control" id="provider_email">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="address_line1">PROVIDER ADDRESS LINE 1</label>
            {% if provider_details %}
            <input value="{{provider_details.1}}" name="address_line1" size="35" type="text" class="form-control" id="address_line1">
            {% else%}
            <input  name="address_line1" size="35" type="text" class="form-control" id="address_line1">
            {% endif%}
        </div>
        <div class="form-group">
            <label for="address_line2">PROVIDER ADDRESS LINE 2</label>
            {% if provider_details %}
            <input value="{{provider_details.2}}" name="address_line2" size="35" type="text" class="form-control" id="address_line2" >
            {% else%}
            <input name="address_line2" size="35" type="text" class="form-control" id="address_line2" >
            {% endif%}
        </div>
        <div class="form-group">
            <label for="address_line3">PROVIDER ADDRESS LINE 3</label>
            {% if provider_details %}
            <input value="{{provider_details.3}}" name="address_line3" size="35" type="text" class="form-control" id="address_line3" >
            {% else%}
            <input name="address_line3" size="35" type="text" class="form-control" id="address_line3" >
            {% endif%}
        </div>
    </div>
</div>
<button class="btn btn-primary" type="submit" >Save Provider</button>
</form>
{% endblock %}